[Unit]
Description=Set volume to 100%
After=sound.target graphical-session.target
Wants=sound.target

[Service]
Type=oneshot
User=pi
Group=audio
ExecStart=/usr/bin/amixer sset 'Master' 100%
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
SupplementaryGroups=audio
Environment="PATH=/usr/bin:/usr/local/bin"
Environment="HOME=/home/pi"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse"

[Install]
WantedBy=multi-user.target