<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quadrapet_v3">

    <xacro:include filename="$(find quadrapet_v3_description)/description/urdf/quadrapet_v3.edited.fixed.urdf" />

    <xacro:include
        filename="$(find quadrapet_v3_description)/description/quadrapet_v3_mujoco.ros2_control.xacro" />

    <quadrapet_v3 />

    <xacro:quadrapet_v3_system />

</robot>